@CHARSET "UTF-8";

body{
	text-align: center;
	font-size: 12px;
}

table {
	margin: 10 auto;
	text-align: center;
	font-size: 12px;
}
.odd{
	background-color: #c3f3c3;
}
.even{
	background-color: #f3c3f3;
}